<h2> Cities <h2>
<% if @cities.empty? %>
	<h3> No cities found </h3>
<% else %>

<table>
	<thead>
		<tr>
			<th>name</th>
			<th>zip_code</th>
		</tr>
	</thead>
	
	<tbody>
	<% @cities.each_with_index do |city| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= city.name %></td>
			<td><%= city.zip_code %></td>
		</tr>
	<%end%>
	</tbody>
</table>
<% end %>
